
@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Hiển thị loại sản phẩm", "HienThiLoaiSP")</li>
    <li>@Html.ActionLink("Hiển thị sản phẩm", "HienThiSP")</li>
    <li>@Html.ActionLink("Tìm kiếm theo loại", "TimKiemTheoLoai")</li>
</ul>
